

@import url('https://fonts.googleapis.com/css?family=Allerta');
body {
  font-family: 'Allerta', sans-serif;
}


/*==============navbar_main starts here================*/

header {
  border-bottom: 2px solid #f0f0f0;
}

.navbar-brand {
  padding: 0;
  padding-top: 16px;
}

.navbar_top i.play {
  color: #b163a3;
  display: inline-block;
  padding-right: 8px;
  font-size: 12px;
}

.navbar_top {
  color: #9b9b9b;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 8px;
}

.navbar_top .social-area ul li:nth-child(5) {
  border-left: 1px solid #eeeeee;
}

.navbar_top .list_padding {
  padding-right: 0;
}

.navbar_top .list_padding li a {
  padding: 0 8px;
  color: #888888;
  text-decoration: none;
  display: block;
}

.navbar_top .list_padding li a:hover {
  padding: 0 8px;
  color: #bd7eb1;
  text-decoration: none;
  display: block;
}

.vertical-align {
  vertical-align: -2px;
}

.alignment {
  padding-top: 15px;
  padding-right: 19px;
}

.navbar-padding {
  padding-top: 12px;
  padding-left: 22px;
}

.navbar-padding ul li a:nth-child(3) {
  padding-left: 0;
}

.navbar-padding li a {
  text-decoration: none;
  display: block;
  color: #888888;
}

.navbar-padding li a:hover {
  text-decoration: none;
  display: block;
  color: #bd7eb1;
  background-color: #fff;
}

.text-padding {
  text-align: right;
  padding-top: 30px;
  padding-right: 54px;
}

.text-padding i.fa {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  color: #999999;
  background-color: #f3f3f3;
  font-size: 15px;
}

.text-padding i.fa:hover {
  background-color: #f3f3f3;
  color: #925186;
}


/*================navbar_main ends here=============*/


/*===============================products starts here=================*/


/*=========isotop starts here=======*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


/*custom style from here */

.portfolio-item {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio-caption {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 11;
  /*top: 100%;*/
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  transform: scale(0, 0);
  /*transform: rotate(45deg);*/
  transition: .6s;
}

.portfolio-item:hover .portfolio-caption {
  /*top: 0;*/
  transform: scale(1, 1);
  /*transform: rotate(0deg);*/
}

.portfolio-caption ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-caption ul li {
  list-style: none;
  display: inline-block;
}

.portfolio-caption ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  background-color: #009FDA;
  margin-top: 173px;
  color: #fff;
  border-radius: 3px;
}

.portfolio-caption ul li a i {
  font-size: 17px;
  color: #fff;
}

.portfolio-caption .product-title {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.portfolio-caption .caption-price {
  font-size: 23px;
  color: #fff;
  text-align: center;
}

.position {
  position: relative;
  padding-bottom: 70px;
}

.center {
  position: absolute;
  left: 351px;
  padding-bottom: 20px;
  top: 10px;
}


/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  border: 1px solid #009FDA;
  border-radius: 7px;
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #009FDA;
  color: #fff;
}


/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 10px;
  border-radius: 6px;
}


/* ---- isotope ---- */


/* clear fix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 248px;
  margin: 5px;
  color: #fff;
}

.element-item>* {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali {
  background: #F00;
  background: hsl( 0, 100%, 50%);
}

.element-item.alkaline-earth {
  background: #F80;
  background: hsl( 36, 100%, 50%);
}

.element-item.lanthanoid {
  background: #FF0;
  background: hsl( 72, 100%, 50%);
}

.element-item.actinoid {
  background: #0F0;
  background: hsl( 108, 100%, 50%);
}

.element-item.post-transition {
  background: #0FF;
  background: hsl( 180, 100%, 50%);
}

.element-item.metalloid {
  background: #08F;
  background: hsl( 216, 100%, 50%);
}

.element-item.diatomic {
  background: #00F;
  background: hsl( 252, 100%, 50%);
}

.element-item.halogen {
  background: #F0F;
  background: hsl( 288, 100%, 50%);
}

.element-item.noble-gas {
  background: #F08;
  background: hsl( 324, 100%, 50%);
}


/*=========isotop ends here=======*/


/*===============================products ends here=================*/


/*==================foooter_area starts here==================== */


/*footer-top starts here*/

.blaszok h4,
.blog h4,
.Shop h4,
.Newsletter h4 {
  font-size: 14px;
  color: #666666;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}

.blaszok h4::before {
  content: "";
  border: 1px solid #b163a3;
  position: absolute;
}

.blaszok p {
  padding-top: 20px;
  padding-bottom: 18px;
  color: #888888;
}

.blaszok .list_padding li a {
  padding: 0 8px;
  color: #888888;
  text-decoration: none;
  display: block;
}

.blaszok .list_padding li a:hover {
  padding: 0 8px;
  color: #925186;
  text-decoration: none;
  display: block;
}

.blaszok span {
  color: #925186;
}

.blog ul li {
  list-style-type: none;
}

.blog ul li a {
  text-decoration: none display:block;
}

.blog ul li:first-child {
  padding-top: 20px;
}

.blog ul li p:nth-child(3) {
  font-style: italic;
  font-size: 12px;
  color: #888888;
  padding-left: 36px;
}

.blog ul li {
  padding-bottom: 20px;
}

.blog ul li p:nth-child(2) {
  font-size: 12px;
  color: #888888;
}

.blog ul li p a {
  text-decoration: none;
  color: #925186;
  padding-right: 12px;
  display: inline-block;
  font-size: 15px;
}

.blog ul {
  margin-left: -48px;
}

.blog ul li p a i.fa {
  font-size: 10px;
}

.Shop ul li:first-child {
  padding-top: 20px;
}

.Shop ul {
  margin-left: -32px;
}

.Shop ul li {
  list-style-type: none;
  display: block;
}

.Shop ul li a {
  text-decoration: none;
  display: block;
  color: #888888;
  font-size: 12px;
  padding-bottom: 20px;
}

.Shop ul li a i.fa {
  display: inline-block;
  color: #925186;
  font-size: 10px;
  padding-right: 12px;
}

.Newsletter p {
  padding-top: 20px;
  padding-bottom: 18px;
  color: #888888;
}

.footer_top {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
}


/*footer-top ends here*/


/*footer-bottom starts here*/

.copyright p {
  font-size: 12px;
  color: #888888;
}

.back-to-top p a {
  text-decoration: none;
  color: #925186;
  font-size: 12px;
  padding-left: 172px;
}


/*footer-bottom ends here*/


/*==================foooter_area ends here==================== */


}

