

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 1170px;
}


/*header goes here*/

header {
	height: 70px;
	overflow: hidden;
}

#logo {
	float: left;
	padding-top: 18px;
}

.btn {
	float: right;
	padding-top: 33px;
}

.btn a {
	text-decoration: none;
	padding: 10px;
	background-color: #000;
	color: #fff;
}

.btn a:hover {
	text-decoration: none;
	padding: 10px;
	background-color: #31aae2;
	color: #fff;
}

.btn p {
	float: left;
	padding-right: 16px;
}

nav {
	height: 50px;
	float: left;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 15px;
	border-right: 0.2px solid #cae5f6;
}

nav ul li a:hover {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 15px;
}

.navbar {
	background-color: #31aae2;
	overflow: hidden;
}

nav ul:first-child {
	border-left: 0.2px solid #cae5f6;
}

.icon {
	float: right;
	padding-top: 15px;
}

.icon .fa {
	color: #fff;
}

.icon .fa:hover {
	color: #000;
}


/*banner goes here*/

#banner {
	background-image: url(../img/banner.jpg);
	background-position: center;
	background-size: 100% 100%;
	padding: 390px;
}


/*multiple_concept goes here*/

.content h2 {
	color: #5b5b5b;
	font-size: 30px;
	padding-top: 54px;
}

.content p {
	color: #d5d5d5;
	padding-top: 10px;
	font-size: 15px;
}

.concept {
	padding-top: 25px;
	margin-bottom: 40px;
	overflow: hidden;
}

.concept .col2 {
	width: 15%;
	background-color: #313131;
	height: 200px;
	margin: 9px;
	float: left;
}

.concept .col2:hover {
	width: 15%;
	background-color: #31aae2;
	height: 200px;
	margin: 9px;
	float: left;
}

.multiple_concept {
	overflow: hidden;
}


/*work process goes here*/

.work_process {
	text-align: center;
	overflow: hidden;
	background-color: #f9f9f9;
}

.work_process h2 {
	font-size: 30px;
	padding-bottom: 61px;
	padding-top: 35px;
}

.process .col3 {
	width: 22%;
	background-image: url(../img/img1.jpg);
	background-size: 100% 100%;
	background-position: center;
	height: 289px;
	float: left;
	margin: 10px;
	background-color: #fff;
}

.process .col3 p:first-child {
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 10px;
}

.process .col3 p:last-child {
	padding: 5px;
}

.process {
	margin: 30px;
	overflow: hidden;
}


/*feature goes here*/

.features {
	overflow: hidden;
}

.heading {
	text-align: center;
	height: 64px;
	background-color: #eb768c;
	padding: 20px;
	color: #fff;
}

.new_feature .col4 {
	width: 33%;
	float: left;
	padding: 36px;
}

.new_feature .col4 .fa {
	color: #fff;
	height: 48px;
	width: 48px;
	border-radius: 50px;
	padding-right: 10px;
	padding: 17px 17px;
	background-color: #47494C;
	margin-right: 16px;
}

.new_feature .col4 .fa:hover {
	color: #fff;
	height: 48px;
	width: 48px;
	border-radius: 50px;
	padding-right: 10px;
	padding: 17px 17px;
	background-color: #31aae2;
	margin-right: 16px;
}

.bgcolor {
	background-color: #232018;
	overflow: hidden;
	color: #fff;
	padding: 38px;
}


/*responsive goes here*/

.Responsive {
	overflow: hidden;
	padding-bottom: 48px;
	padding-top: 30px;
	color: #313131;
}

.img_content {
	float: right;
	width: 50%;
	padding-top: 50px;
	padding-right: 43px;
}

.img_content h3,
.imgcontent h3 {
	font-size: 24px;
	color: #6d6d6d;
	padding-bottom: 10px;
}

.img_content p,
.imgcontent p {
	font-size: 13px;
	color: #bdbcbc;
	padding-top: 15px;
}

.images {
	float: left;
	width: 50%;
	padding-top: 20px;
	padding-left: 163px;
}

.imgcontent a {
	text-decoration: none;
	padding: 6px 15px;
	display: block;
	background-color: #31aae2;
	width: 20%;
	margin: 31px 15px 15px 0;
	color: #fff;
}

.imgcontent a:hover {
	text-decoration: none;
	padding: 6px 15px;
	display: block;
	background-color: #ec8094;
	width: 20%;
	margin: 31px 15px 15px 0;
	color: #000;
}


/*reasulation goes here*/

.resulation {
	overflow: hidden;
	background-color: #f9f9f9;
}

.resulation .imgcontent {
	float: left;
	width: 45%;
	padding-top: 50px;
	padding-right: 43px;
	margin-left: 171px;
}

.resulation .images1 {
	float: right;
	width: 40%;
	padding-top: 20px;
	padding-left: 163px;
}

.img_content a {
	text-decoration: none;
	padding: 6px 15px;
	display: block;
	background-color: #31aae2;
	width: 20%;
	margin: 31px 15px 15px 0;
	color: #fff;
}

.img_content a:hover {
	text-decoration: none;
	padding: 6px 15px;
	display: block;
	background-color: #ec8094;
	width: 20%;
	margin: 31px 15px 15px 0;
	color: #000;
}


/*website builder goes here*/

.builders {
	overflow: hidden;
	text-align: center;
	color: #fff;
	background-color: #334251;
	padding-bottom: 84px;
}

.website h2 {
	font-size: 50px;
	padding-top: 85px;
	padding-bottom: 19px;
}

.website p {
	padding-bottom: 10px;
}

.button a {
	text-decoration: none;
	color: #fff;
	padding: 7px 12px;
	display: inline-block;
	border: 1px solid #fff;
	margin-bottom: 86px;
	margin-top: 19px;
	margin: 10px;
	font-size: 13px;
}

.button a:last-child {
	padding: 7px 20px;
}

.button a:last-child:hover {
	padding: 7px 20px;
}

.button a:hover {
	text-decoration: none;
	color: #fff;
	padding: 7px 12px;
	display: inline-block;
	border: 1px solid #fff;
	margin-bottom: 86px;
	margin-top: 19px;
	background-color: #31aae2;
	margin: 10px;
	font-size: 13px;
}

span {
	color: #c183d6;
}

<!-- portfolio goes here -->.portfolio {
	overflow: hidden;
}

.portfolio h2 {
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
}

.portfolio .row .col3 {
	height: 200px;
	width: 200px;
	background-color: #313131;
	margin: 3px;
	float: left;
	position: relative;
}

.portfolio .row .col3:hover::before {
	content: 'Venice Art Pavilion Fashion';
	height: 200px;
	width: 200px;
	background-color: #318cb6;
	margin: 3px;
	float: left;
	position: absolute;
	top: -3px;
	left: -3px;
	text-align: center;
	display: inline-block;
	right: 0;
}

.portfolio .row {
	overflow: hidden;
	text-align: center;
}

.rows {
	margin-left: 167px;
	margin-top: 40px;
	margin-bottom: 43px;
}


/*blog starts here*/

.blog {
	overflow: hidden;
	text-align: center;
	background-color: #f9f9f9;
}

.blog img {
	margin: 10px;
}

.blog {
	padding-bottom: 65px;
	padding-top: 40px;
}

.blog h2 {
	padding-bottom: 40px;
}


/*pricing starts here*/

.priceing_table {
	text-align: center;
}

.priceing_table .col3 {
	width: 22%;
	float: left;
	text-align: center;
	margin: 17px;
	border: 1px solid #f1f1f1;
}

.priceing_table {
	padding-bottom: 60px;
	overflow: hidden;
}

.priceing_table .col3:hover {
	width: 22%;
	float: left;
	text-align: center;
	margin: 17px;
	border: 1px solid #31aae2;
}

.pricing {
	text-align: center;
}

.priceing_table .col3 ul li {
	list-style-type: none;
	padding: 10px;
	color: #969595;
}

.priceing_table .col3 a {
	text-decoration: none;
	display: block;
	background-color: #f1f1f1;
	padding: 10px;
	margin: 25px;
	color: #b1b0b0;
}

.priceing_table .col3 a:hover {
	text-decoration: none;
	display: block;
	background-color: #31aae2;
	padding: 10px;
	margin: 25px;
	color: #fff;
}

.priceing_table .col3 span {
	font-size: 60px;
	color: #313131;
}

.priceing_table .col3 p:nth-child(3) {
	display: block;
	background-color: #f1f1f1;
	padding: 10px;
	margin: 25px 0;
	color: #b1b0b0;
}

.priceing_table .col3 p:nth-child(3):hover {
	display: block;
	background-color: #31aae2;
	padding: 10px;
	margin: 25px 0;
	color: #fff;
}

.priceing_table .col3 p:nth-child(2) {
	color: #b1b0b0;
}

.pricing h2 {
	color: #313131;
	padding-top: 50px;
	padding-bottom: 29px;
}


/*footer starts here*/


/*footer top starts here*/

footer_top {
	overflow: hidden;
}

footer .col3 {
	width: 24%;
	float: left;
	padding: 18px;
}

footer .para p {
	padding: 7px 0;
}

footer .col3 a {
	text-decoration: none;
	color: #fff;
}

footer {
	overflow: hidden;
	background-color: #313131;
	color: #fff;
	font-size: 13px;
}

footer .col3 a .fa {
	background-color: #47494C;
	color: #fff;
	padding: 3px;
	margin: 5px 10px;
}

footer .col3 a .fa:hover {
	background-color: #31aae2;
	color: #000;
	padding: 3px;
	margin: 5px 10px;
}

footer .col3 h4 {
	padding-bottom: 20px;
}

footer .btnn a {
	color: #8d8c8c;
	background-color: #4a4a4a;
	padding: 5px 8px;
	display: inline-block;
	margin: 3px;
	text-align: center;
}

footer .btnn a:hover {
	color: #fff;
	background-color: #31aae2;
	padding: 5px 8px;
	display: inline-block;
	margin: 3px;
	text-align: center;
}

footer .btnn h4 {
	padding-top: 7px;
	padding-bottom: 9px;
}

footer .btnn h4:nth-child(2) {
	padding-top: 5px;
	padding-bottom: 5px;
}

footer .btnn input[type="email"] {
	margin-bottom: 5px;
	margin-top: 5px;
}

.col3 .row .box {
	height: 20px;
	width: 20px;
	background-color: #4a4a4a;
	float: left;
	margin-right: 10px;
}

.col3 .row {
	overflow: hidden;
	padding-bottom: 11px;
	border-bottom: 1px solid #4a4a4a;
	padding-top: 14px;
}

.form {}

.form input[type="text"],
.form input[type="email"],
.form input[type="text"],
textarea {
	background-color: #313131;
	border: none;
	color: #fff;
	padding: 7px 10px;
	text-align: left;
	border: 1px solid #4a4a4a;
}

.form button {
	background-color: #31aae2;
	color: #fff;
	margin-top: 10px;
}

.form h4 {
	padding-bottom: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="text"] {
	padding-right: 64px;
}


/*footer bottom*/

.footer_bottom p {
	float: left;
	padding-top: 10px;
}

.footer_bottom .nav {
	height: 50px;
	float: right;
}

.footer_bottom .nav ul li {
	list-style-type: none;
	display: inline-block;
}

.footer_bottom .nav ul li a {
	text-decoration: none;
	color: #6b6b6b;
	display: block;
	padding: 15px;
}

.footer_bottom .nav ul li a:hover {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 15px;
}

.footer_bottom {
	background-color: #2d2d2d;
	clear: both;
}

