

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
body {
	font-family: 'Poppins', sans-serif;
}


/*====header starts here=====*/

header {
	background-image: url(../img/about/bg-img1.jpg);
	background-position: 100% 100%;
	background-size: cover;
	padding-top: 38px;
	position: relative;
}

header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

.border {
	margin-left: -12px;
	padding-right: 30px;
}

.dashed-border {
	border: 1px dashed #288FEB;
	width: 1109px;
	height: 72px;
	position: absolute;
	top: 9px;
	left: 15px;
}

.width {
	padding: 5px;
	height: 90px;
}

@media (max-width: 992px) {
	.dashed-border {
		border: none;
	}
}

.font {
	font-size: 15px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #288FEB;
	text-decoration: line-through;
	background: transparent;
	padding-top: 26px;
	padding-bottom: 30px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
	color: #000;
	padding-top: 26px;
	padding-bottom: 30px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active {
	color: #288FEB;
	text-decoration: line-through;
	background: transparent;
	border: none;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
	margin-left: 30px;
	position: relative;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand::before {
	content: "";
	position: absolute;
	border-bottom: 3px solid #288FEB;
	border-top: 3px solid #288FEB;
	top: 19px;
	left: 0;
}

.sub-nav h2 {
	color: #fff;
	padding-bottom: 10px;
}

.nav-about li {
	color: #fff;
}

.nav-about {
	padding-top: 26px;
}

.nav-about li a {
	color: #fff;
	text-decoration: none;
}

.nav-about li a:hover {
	color: #288FEB;
	text-decoration: none;
}

.left {
	padding-left: 100px;
}

@media (max-width: 768px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
		background-color: #ddd;
		z-index: 5000;
	}
	.navbar-collapse .collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.image {
		z-index: -1;
	}
}

.navbar-collapse {
	position: relative;
	z-index: 9;
}


/*=====header ends here=====*/


/*======philosophy starts here====*/

#philosophy p {
	padding-top: 10px;
	color: #808080;
	font-size: 16px;
}

#philosophy {
	padding-top: 116px;
	padding-bottom: 100px;
}

#philosophy h2 {
	padding-bottom: 17px;
	color: #222222;
	font-size: 30px;
}

.video {
	position: relative;
	z-index: -1;
}

.video::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.5;
}

.video a .fa {
	font-size: 50px;
	color: #288FEB;
	position: absolute;
	top: 160px;
	left: 249px;
	z-index: 1;
}


/*======philosophy ends here====*/


/*======creative-team starts here====*/

.fig-text {
	background-color: #288FEB;
	padding-top: 14px;
	padding-bottom: 12px;
	border-radius: 3px;
	padding: 0 20px;
}

.parent {
	position: relative;
}

.fig-text {
	position: absolute;
	top: 272px;
	left: 17%
}

.parent img {
	border: 2px solid transparent;
}

.parent img:hover {
	border: 2px solid #288FEB;
}

#creative-team .first-p {
	padding-bottom: 57px;
}


/*======creative-team ends here====*/


/*======customer-statement starts here====*/

#customer {
	padding-top: 109px;
	padding-bottom: 110px;
}

#customer h2 {
	font-size: 30px;
}

.cus-p {
	padding-bottom: 60px;
	font-size: 16px;
}

.customer {
	background-color: #F3F9FE;
	border: 1px solid #A5D5FF;
	padding: 40px 56px 54px;
}

.parent {
	position: relative;
}

.customer-item {
	background-color: #288FEB;
	border-radius: 3px;
	width: 208px;
	position: absolute;
	top: 79%;
	left: 32%;
}


/*======customer-statement ends here====*/


/*======contact starts here====*/

#contact {
	background-color: #3393E9;
	padding-top: 53px;
	padding-bottom: 57px;
}

#contact p {
	font-size: 18px;
}

#contact h2 {
	font-size: 32px;
}

#contact a {
	text-decoration: none;
	display: inline-block;
	color: #3393E9;
	font-size: 15px;
	background-color: #fff;
	padding: 8px 10px;
	margin-top: 26px;
	margin-left: 116px;
}

#contact a .fa {
	padding-left: 9px;
}


/*======contact ends here====*/


/*======footer starts here====*/

.logo1 .logo {
	position: relative;
}

.logo1 .logo::before {
	content: "";
	position: absolute;
	border-bottom: 3px solid #288FEB;
	top: 19px;
	left: 0;
	width: 58px;
}

.logo1 .logo::after {
	content: "";
	position: absolute;
	border-top: 3px solid #288FEB;
	top: 0;
	left: 0;
	width: 58px;
}

footer {
	background-color: #000;
	color: #fff;
}

.logo1 {
	padding: 10px;
}

.logo1 p {
	padding-top: 29px;
}

footer h4 {
	padding-bottom: 20px;
}

.padding-bottom {
	padding-bottom: 10px;
}

.gallary {
	position: relative;
}

.h-border {
	height: 8px;
	width: 361px;
	background-color: #000;
	position: absolute;
	top: 139px;
}

.v-border {
	height: 183px;
	width: 8px;
	background-color: #000;
	position: absolute;
	top: 50px;
	left: 90px;
}

.v-border1 {
	height: 183px;
	width: 8px;
	background-color: #000;
	position: absolute;
	top: 50px;
	left: 180px;
}

.v-border2 {
	height: 183px;
	width: 8px;
	background-color: #000;
	position: absolute;
	top: 50px;
	left: 270px;
}

#footer-top {
	padding-bottom: 40px;
	border-bottom: 1px solid #313131;
	padding-top: 78px;
}

.social li {
	color: #848484;
}

.social li a {
	color: #848484;
	text-decoration: none;
}

.social li a:hover {
	color: #1C6DB5;
}

.copy {
	color: #848484;
}

.right {
	color: #1C6DB5;
}

#footer-bottom {
	padding-top: 22px;
	padding-bottom: 10px;
}


/*======footer ends here====*/

