

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
body {
	font-family: 'Poppins', sans-serif;
}


/*====header starts here=====*/

header {
	background-image: url(../img/about/bg-img1.jpg);
	background-position: 100% 100%;
	background-size: cover;
	padding-top: 38px;
	position: relative;
}

header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

.border {
	margin-left: -12px;
	padding-right: 30px;
}

.dashed-border {
	border: 1px dashed #288FEB;
	width: 1109px;
	height: 72px;
	position: absolute;
	top: 9px;
	left: 15px;
}

@media (max-width: 992px) {
	.dashed-border {
		border: none;
	}
}

.width {
	padding: 5px;
	height: 90px;
}

.font {
	font-size: 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	padding-top: 26px;
	padding-bottom: 30px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #288FEB;
	text-decoration: line-through;
	background: transparent;
	padding-top: 26px;
	padding-bottom: 30px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active {
	color: #288FEB;
	text-decoration: line-through;
	background: transparent;
	border: none;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
	margin-left: 30px;
	position: relative;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand::before {
	content: "";
	position: absolute;
	border-bottom: 3px solid #288FEB;
	border-top: 3px solid #288FEB;
	top: 19px;
	left: 0;
}

.sub-nav h2 {
	color: #fff;
	padding-bottom: 10px;
}

.nav-about li {
	color: #fff;
}

.nav-about {
	padding-top: 26px;
}

.nav-about li a {
	color: #fff;
	text-decoration: none;
}

.nav-about li a:hover {
	color: #288FEB;
	text-decoration: none;
}

.left {
	padding-left: 100px;
}

@media (max-width: 768px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
		background-color: #ddd;
		z-index: 5000;
	}
	.navbar-collapse .collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.image {
		z-index: -1;
	}
}

.navbar-collapse {
	position: relative;
	z-index: 9;
}


/*=====header ends here=====*/


/*=====FAQ start here===*/


/*==collapse starts here==*/

.collapsible {
	background-color: #288FEB;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	border-radius: 3px;
	position: relative;
}

.active,
.collapsible:hover {
	background-color: #288FEB;
}

.collapsible::after {
	content: '\002B';
	color: #288FEB;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	background-color: #fff;
	padding: 15px 22px;
	position: absolute;
	top: 3px;
	left: 89%;
	border-radius: 2px;
}

.active:after {
	content: "\2212";
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #fff;
	border: 1px solid #DBDBDB;
	margin-bottom: 10px;
	border-radius: 0 0 5px 5px;
	color: #808080;
}


/*==collapse ends here==*/

#faq {
	padding-top: 109px;
}

#faq h3 {
	padding-bottom: 36px;
	color: #222222;
	font-size: 30px;
}

#faq .img {
	padding-top: 93px;
	margin-left: 71px;
}

.btn-custom {
	background-color: #288FEB;
	margin-top: 49px;
	color: #fff;
}

.custom-style {
	margin-bottom: 30px;
	border-color: #DBDBDB;
	border-radius: 2px;
}

#form h3 {
	padding-bottom: 36px;
	color: #222222;
	font-size: 30px;
}

#form {
	margin-top: 18px;
	padding-bottom: 110px;
}


/*=====FAQ end here===*/


/*======footer starts here====*/

.logo1 .logo {
	position: relative;
}

.logo1 .logo::before {
	content: "";
	position: absolute;
	border-bottom: 3px solid #288FEB;
	top: 19px;
	left: 0;
	width: 58px;
}

.logo1 .logo::after {
	content: "";
	position: absolute;
	border-top: 3px solid #288FEB;
	top: 0;
	left: 0;
	width: 58px;
}

footer {
	background-color: #000;
	color: #fff;
}

.logo1 {
	padding: 10px;
}

.logo1 p {
	padding-top: 29px;
}

footer h4 {
	padding-bottom: 20px;
}

.padding-bottom {
	padding-bottom: 10px;
}

.gallary {
	position: relative;
}

.h-border {
	height: 8px;
	width: 361px;
	background-color: #000;
	position: absolute;
	top: 139px;
}

.v-border {
	height: 183px;
	width: 8px;
	background-color: #000;
	position: absolute;
	top: 50px;
	left: 90px;
}

.v-border1 {
	height: 183px;
	width: 8px;
	background-color: #000;
	position: absolute;
	top: 50px;
	left: 180px;
}

.v-border2 {
	height: 183px;
	width: 8px;
	background-color: #000;
	position: absolute;
	top: 50px;
	left: 270px;
}

#footer-top {
	padding-bottom: 40px;
	border-bottom: 1px solid #313131;
	padding-top: 78px;
}

.social li {
	color: #848484;
}

.social li a {
	color: #848484;
	text-decoration: none;
}

.social li a:hover {
	color: #1C6DB5;
}

.copy {
	color: #848484;
}

.right {
	color: #1C6DB5;
}

#footer-bottom {
	padding-top: 22px;
	padding-bottom: 10px;
}


/*======footer ends here====*/

