

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
body {
	font-family: 'Poppins', sans-serif;
}


/*====header starts here=====*/

header {
	background-image: url(../img/about/bg-img1.jpg);
	background-position: 100% 100%;
	background-size: cover;
	padding-top: 38px;
	position: relative;
}

header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

.border {
	border: 1px dashed #288FEB;
	margin-left: -12px;
	padding-right: 30px;
}

.width {
	width: 1170px;
	padding: 5px;
	height: 90px;
}

.font {
	font-size: 15px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #288FEB;
	text-decoration: line-through;
	background: transparent;
	padding-top: 26px;
	padding-bottom: 30px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
	color: #000;
	padding-top: 26px;
	padding-bottom: 30px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active {
	color: #288FEB;
	text-decoration: line-through;
	background: transparent;
	border: none;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
	margin-left: 30px;
	position: relative;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand::before {
	content: "";
	position: absolute;
	border-bottom: 3px solid #288FEB;
	border-top: 3px solid #288FEB;
	top: 19px;
	left: 0;
}

.sub-nav h2 {
	color: #fff;
	padding-bottom: 10px;
}

.nav-about li {
	color: #fff;
}

.nav-about {
	padding-top: 26px;
}

.nav-about li a {
	color: #fff;
	text-decoration: none;
}

.nav-about li a:hover {
	color: #288FEB;
	text-decoration: none;
}

.left {
	padding-left: 100px;
}


/*=====header ends here=====*/


/*=====testimonial start here===*/

#testimonial {
	padding-top: 51px;
	padding-bottom: 110px;
}

.customer {
	background-color: #F3F9FE;
	border: 1px solid #A5D5FF;
	padding: 40px 56px 54px;
	margin-top: 58px;
}

.parent {
	position: relative;
}

.customer-item {
	background-color: #288FEB;
	border-radius: 3px;
	width: 208px;
	position: absolute;
	top: 79%;
	left: 32%;
}


/*=====testimonial end here===*/


/*======footer starts here====*/

.logo1 .logo {
	position: relative;
}

.logo1 .logo::before {
	content: "";
	position: absolute;
	border-bottom: 3px solid #288FEB;
	top: 19px;
	left: 0;
	width: 58px;
}

.logo1 .logo::after {
	content: "";
	position: absolute;
	border-top: 3px solid #288FEB;
	top: 0;
	left: 0;
	width: 58px;
}

footer {
	background-color: #000;
	color: #fff;
}

.logo1 {
	padding: 10px;
}

.logo1 p {
	padding-top: 29px;
}

footer h4 {
	padding-bottom: 20px;
}

.padding-bottom {
	padding-bottom: 10px;
}

.gallary {
	position: relative;
}

.h-border {
	height: 8px;
	width: 361px;
	background-color: #000;
	position: absolute;
	top: 139px;
}

.v-border {
	height: 183px;
	width: 8px;
	background-color: #000;
	position: absolute;
	top: 50px;
	left: 90px;
}

.v-border1 {
	height: 183px;
	width: 8px;
	background-color: #000;
	position: absolute;
	top: 50px;
	left: 180px;
}

.v-border2 {
	height: 183px;
	width: 8px;
	background-color: #000;
	position: absolute;
	top: 50px;
	left: 270px;
}

#footer-top {
	padding-bottom: 40px;
	border-bottom: 1px solid #313131;
	padding-top: 78px;
}

.social li {
	color: #848484;
}

.social li a {
	color: #848484;
	text-decoration: none;
}

.social li a:hover {
	color: #1C6DB5;
}

.copy {
	color: #848484;
}

.right {
	color: #1C6DB5;
}

#footer-bottom {
	padding-top: 22px;
	padding-bottom: 10px;
}


/*======footer ends here====*/

