

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 1170px;
}

.construction_btn {
	text-decoration: none;
	color: #fff;
	background-color: #ffcb0f;
	display: inline-block;
	margin: 16px 10px;
	padding: 8px 15px;
	border-radius: 10px;
	margin-top: 39px;
}

.construction_btn:hover {
	text-decoration: none;
	color: #ffcb0f;
	background-color: #619a0e;
	display: inline-block;
	margin: 16px 10px;
	padding: 8px 15px;
	border-radius: 10px;
	margin-top: 39px;
}


/*header starts here*/


/*header top starts here*/

.contact {
	float: left;
}

.contact li {
	list-style-type: none;
	display: inline-block;
	color: #222222;
	padding: 10px;
}

.contact li a {
	text-decoration: none;
	color: #222222;
}

.contact li .fa {
	padding: 5px;
}

.social_icon {
	float: right;
}

.social_icon a .fa {
	color: #222222;
	padding: 12px 4px;
}

.social_icon a .fa:hover {
	color: #cac9c5;
	padding: 12px 4px;
}

.header_top {
	overflow: hidden;
	background-color: #ffcb0f;
}


/*header top ends here*/


/*navbar starts here*/

.navbar .logo {
	float: left;
	padding: 17px 10px;
}

.navbar nav {
	float: right;
}

.navbar nav ul li {
	list-style-type: none;
	display: inline-block;
}

.navbar nav ul li a {
	text-decoration: none;
	display: block;
	padding: 28px 10px;
	color: #fff;
}

.navbar nav ul li a:hover {
	text-decoration: none;
	display: block;
	padding: 28px 10px;
	color: #ffcb0f;
}

.navbar {
	overflow: hidden;
	background-color: #222533;
}


/*nav ends here*/


/*header ends here*/


/*banner goes here*/

.home_slider {
	text-align: center;
}

#home_slider1 {
	background-image: url(../images/slide.jpg);
	background-size: 100% 100%;
	background-position: center center;
	position: relative;
	z-index: 1;
	padding: 100px 0;
}

#particles-js {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

#home_slider1::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: -1;
}

.home_slider h1 {
	color: #fff;
	font-size: 50px;
	margin: 0;
}

.home_slider h4 {
	color: #fff;
}

.home_slider p {
	color: #fff;
	font-size: 20px;
}

.home_slider span {
	color: #ffcb0f;
}

.home_slider {
	overflow: hidden;
}


/*banner ends here*/


/* our company starts here*/

.our_company {
	overflow: hidden;
}

.company_content {
	float: left;
	width: 50%;
	padding-top: 70px;
}

.images {
	float: right;
	width: 50%;
}

.company_content h2 {
	font-size: 30px;
	color: #ffcb0f;
}

.company_content h3 {
	font-size: 25px;
	color: #484848;
}

.company_content p {
	font-size: 15px;
	padding-top: 14px;
}


/* our company ends here*/


/* choose us goes here*/

.choose_us {
	overflow: hidden;
	background-color: #f2f7fa;
}

.choose {
	text-align: center;
}

.row {
	overflow: hidden;
	padding-bottom: 17px;
}

.row .col3 {
	width: 25%;
	float: left;
	padding: 25px;
}

.row .col3 p {
	text-align: justify;
}

.row .col3 h3 {
	text-align: center;
	padding-bottom: 12px;
	padding-top: 30px;
}

.row .col3 i.fa {
	font-size: 33px;
	height: 80px;
	width: 80px;
	border-radius: 50px;
	background-color: #fff;
	padding: 23px;
	box-shadow: 0 0 0 7px #ffcb0f, 0 0 0 15px #fadb64, 0 0 0 20px #f7e59c;
}

.row .col3 i.fa:hover {
	font-size: 33px;
	height: 80px;
	width: 80px;
	border-radius: 50px;
	background-color: #fff;
	padding: 23px;
	box-shadow: 0 0 0 7px #35d331, 0 0 0 15px #68ef64, 0 0 0 20px #a8f5a6;
}

.choose h2 {
	padding-top: 49px;
	padding-bottom: 8px;
}

.choose p {
	padding-bottom: 21px;
}


/* choose us ends here*/


/*services us starts here*/

.services {
	overflow: hidden;
}

.service {
	text-align: center;
	padding-top: 50px;
}

.row {
	overflow: hidden;
	padding-top: 34px;
}

.row .col4 {
	width: 33.33%;
	float: left;
}

.row .col4 figure {
	margin: 0;
}

.row .col4 figcaption {
	text-align: left;
	padding: 16px;
}

.row .col4 figcaption h3 {
	padding-bottom: 10px;
}


/*services us ends here*/


/*creation  starts here*/

.creation {
	overflow: hidden;
	text-align: center;
	background-image: url(../images/background.jpg);
}

.imagess {
	overflow: hidden;
	padding-top: 18px;
	padding-bottom: 77px;
}

.imagess .creation_img {
	float: left;
}

.nav ul li {
	list-style-type: none;
	display: inline-block;
}

.nav ul li a {
	text-decoration: none;
	display: block;
	padding: 8px 10px;
	background-color: #ffcb0f;
	border-radius: 14px;
	margin: 8px;
	color: #fff;
}

.nav ul li a:hover {
	text-decoration: none;
	display: block;
	padding: 8px 10px;
	background-color: #282828;
	border-radius: 14px;
	margin: 8px;
	color: #fff;
}

.creation_heading h2 {
	padding-top: 30px;
	padding-bottom: 15px;
	color: #fff;
}

.creation_heading p {
	padding-bottom: 20px;
	color: #fff;
}

.creation1_images img {
	margin-bottom: 5px;
	margin-right: 5px;
}

.creation_img img {
	margin-right: 5px;
}


/*creation  ends here*/


/*customer  starts here*/

.customer {
	overflow: hidden;
}

.customers {
	text-align: center;
}

.Reviews .col4 {
	width: 33%;
	float: left;
	overflow: hidden;
}

.customers h2 {
	padding-top: 30px;
	padding-bottom: 15px;
	color: #484848;
}

.customers p {
	padding-bottom: 20px;
	color: #484848;
}

.box {
	width: 85%;
	height: 180px;
	background-color: #e5e5e5;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.box:hover {
	width: 85%;
	height: 180px;
	background-color: #ffcb0f;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
}

.box::before {
	content: "";
	position: absolute;
	top: 100%;
	right: 147px;
	width: 0;
	height: 0;
	border-top: 15px solid #e5e5e5;
	border-right: 19px solid transparent;
	border-left: 15px solid transparent;
}

.box:hover:before {
	content: "";
	position: absolute;
	top: 100%;
	right: 147px;
	width: 0;
	height: 0;
	border-top: 15px solid #ffcb0f;
	border-right: 19px solid transparent;
	border-left: 15px solid transparent;
}

.box p {
	padding: 24px;
}

.box p:hover {
	padding: 24px;
	color: #fff;
}

.box .fa {
	font-size: 28px;
	color: #989898;
	padding-right: 10px;
}

.Reviews .col4 img {
	padding-top: 22px;
}

.Reviews {
	overflow: hidden;
	padding-top: 20px;
}


/*customer  ends here*/


/*form starts here*/

.form {
	overflow: hidden;
	background-color: #FFCB0F;
	position: relative;
	z-index: 1;
}

.form::before {
	content: "";
	overflow: hidden;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 160px;
	z-index: -1;
	opacity: 0.5;
}

.form_action {
	overflow: hidden;
}

.form_action h1 {
	float: left;
	width: 50%;
}

.form_action form {
	float: right;
	width: 50%;
	position: relative;
	padding-top: 16px;
	padding-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
	padding: 9px;
	border-radius: 8px;
	margin: 5px;
	padding-right: 40px;
	border: none;
}

textarea {
	height: 38px;
	width: 282px;
	resize: none;
	display: inline-block;
}

input[type="submit"] {
	margin-top: 0;
	position: absolute;
	top: 67px;
	padding-left: 25px;
	background-color: #73757e;
	color: #fff;
}

input[type="submit"]:hover {
	margin-top: 0;
	position: absolute;
	top: 67px;
	padding-left: 25px;
	background-color: #cf5131;
	color: #000;
}

.form_action h1 {
	color: #73757e;
	padding-left: 85px;
}


/*form ends here*/


/*footer starts here*/

footer {
	overflow: hidden;
}

.footer_top {
	background-image: url(../images/bg1.jpg);
	background-size: 100% 100%;
	background-position: center center;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.footer_top::before {
	content: "";
	overflow: hidden;
	background-color: #1f222b;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 398px;
	z-index: -1;
	opacity: 0.7;
}

.footer_top .row1 .col4 {
	width: 25%;
	float: left;
	font-size: 15px;
	padding: 26px;
}

.footer_top .row1 .col4 h3 {
	padding-top: 39px;
	padding-bottom: 21px;
	color: #fff;
}

.footer_top .row1 .col4 .para {
	padding-top: 10px;
	color: #fff;
	padding-bottom: 19px;
}

.footer_top .row1 .icon .fa {
	text-decoration: none;
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background-color: #ffcb0f;
	color: #000;
	padding: 9px;
	margin: 0 2px;
}

.footer_top .row1 .icon .fa:hover {
	text-decoration: none;
	height: 30px;
	width: 30px;
	border-radius: 50px;
	background-color: #2c23e1;
	color: #fff;
	padding: 9px;
	margin: 0 2px;
}

.footer_top .row1 .col4 ul li {
	list-style-type: none;
	display: block;
}

.footer_top .row1 .col4 ul li a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 7px 0;
}

.footer_top .row1 .col4 ul li a .fa {
	font-size: 11px;
	padding-right: 15px;
}

.footer_top .row1 .col4 span {
	height: 45px;
	width: 45px;
	border-radius: 50px;
	border: 2px solid #fff;
	display: block;
	padding: 4px;
	color: #fff;
	display: inline-block;
	text-align: center;
}

.footer_top .row1 .col4 .date p {
	display: inline-block;
	width: 50%;
	padding-left: 10px;
	color: #fff;
}

.footer_top .row1 .col4 .date {
	padding-bottom: 5px;
}

.footer_top .row1 {
	overflow: hidden;
}

.footer_top .row1 .col4 ul .mobile {
	color: #fff;
}


/*footer bottom starts here*/

.footer_bottom {
	clear: both;
	text-align: center;
	height: 50px;
	background-color: #1a1c27;
	color: #fff;
}

.footer_bottom p a {
	color: #e1b314;
	text-decoration: none;
}

.footer_bottom p {
	padding-top: 10px;
}


/*footer bottom ends here*/


/*footer ends here*/

