

@import url('https://fonts.googleapis.com/css?family=Allerta');
body {
	font-family: 'Allerta', sans-serif;
}


/*==============navbar_main starts here================*/

.navbar-brand {
	padding: 0;
	padding-top: 16px;
}

.navbar_top i.play {
	color: #b163a3;
	display: inline-block;
	padding-right: 8px;
	font-size: 12px;
}

.navbar_top {
	color: #9b9b9b;
	border-bottom: 1px solid #f0f0f0;
	padding-top: 8px;
}

.navbar_top .social-area ul li:nth-child(5) {
	border-left: 1px solid #eeeeee;
}

.navbar_top .list_padding {
	padding-right: 0;
}

.navbar_top .list_padding li a {
	padding: 0 8px;
	color: #888888;
	text-decoration: none;
	display: block;
}

.navbar_top .list_padding li a:hover {
	padding: 0 8px;
	color: #bd7eb1;
	text-decoration: none;
	display: block;
}

.vertical-align {
	vertical-align: -2px;
}

.alignment {
	padding-top: 15px;
	padding-right: 19px;
}

.navbar-padding {
	padding-top: 12px;
	padding-left: 22px;
}

.navbar-padding ul li a:nth-child(3) {
	padding-left: 0;
}

.navbar-padding li a {
	text-decoration: none;
	display: block;
	color: #888888;
}

.navbar-padding li a:hover {
	text-decoration: none;
	display: block;
	color: #bd7eb1;
	background-color: #fff;
}

.text-padding {
	text-align: right;
	padding-top: 30px;
	padding-right: 54px;
}

.text-padding i.fa {
	text-decoration: none;
	display: inline-block;
	padding: 5px;
	color: #999999;
	background-color: #f3f3f3;
	font-size: 15px;
}

.text-padding i.fa:hover {
	background-color: #f3f3f3;
	color: #925186;
}


/*================navbar_main ends here=============*/


/*================slider starts here=============*/

#slider {
	position: relative;
	z-index: 1;
}

#slider i.fa {
	font-size: 35px;
	position: absolute;
	top: 312px;
}

#particles-js {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}


/*================slider ends here=============*/


/*================catagory_slider starts here=============*/

#catagory_slider {
	max-height: 100%;
	padding-top: 34px;
	padding-bottom: 24px;
}

.slick-list {
	position: relative;
}

.slick-next {
	background-color: #f791e3;
	font-size: 15px;
	border-radius: 50%;
	position: absolute;
	right: -13px;
	height: 50px;
	width: 50px;
	padding-left: 15px;
}

.slick-next:hover {
	background-color: #925186;
}

.slick-prev {
	background-color: #f791e3;
	font-size: 15px;
	border-radius: 50%;
	position: absolute;
	left: -13px;
	height: 50px;
	width: 50px;
	padding-left: 15px;
	z-index: 3;
}

.slick-prev:hover {
	background-color: #925186;
}

.cart p:nth-child(2) {
	color: #666666;
	font-size: 12px;
	line-height: 10px;
	padding-bottom: 5px;
}

.cart p:first-child {
	color: #925186;
	font-size: 18px;
}

.thumbnail-padding {
	border: none;
}

.cart {
	background-color: #dfcbdb;
}

.cart .bg-color {
	height: 17px;
	margin: -8px;
}

.thumbnail-padding .bg-color {
	transition: all 300ms ease-out;
}

.thumbnail-padding:hover .bg-color {
	height: 17px;
	background-color: #925186;
	margin: -8px;
}


/*================catagory_slider ends here=============*/


/*================free_shopping ends here=============*/

.shoping {
	border: 1px solid #f0f0f0;
}

.shoping .shoping-order p {
	font-size: 30px;
	color: #925186;
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.shoping .Delivered a {
	text-decoration: none;
	display: block;
	color: #925186;
	padding-left: 24px;
	padding-bottom: 10px;
}

.shoping .Delivered:hover a {
	text-decoration: none;
	display: block;
	color: #925186;
	padding-left: 24px;
	padding-bottom: 10px;
	color: #fff;
}

.shoping .Delivered {
	text-decoration: none;
	display: block;
	color: #fff;
	height: 78px;
	padding-top: 18px;
	width: 278px;
	margin-left: -16px;
	transition: all 300ms ease-out;
}

.shoping .Delivered:hover {
	text-decoration: none;
	display: block;
	color: #fff;
	height: 78px;
	padding-top: 18px;
	width: 278px;
	margin-left: -16px;
	background-color: #925186;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shoping .Delivered:hover:before {
	content: "";
	position: absolute;
	right: 100%;
	top: 26px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 16px solid #925186;
	border-bottom: 13px solid transparent;
}

#free_shopping {
	margin-bottom: 31px;
}


/*================free_shopping ends here=============*/


/*================newest_article starts here=============*/

#newest_article .border-para {
	border-bottom: 1px solid #925186;
	width: 157px;
	padding-bottom: 10px;
	float: left;
}

.border-none {
	border: none;
}

#newest_article .border-para .border {
	border-bottom: 1px solid #f0f0f0;
	width: 100%;
	padding-top: 30px;
}

#newest_article {
	overflow: hidden;
}

.carousel-slider {
	padding-top: 20px;
}

.caption .fontsize {
	font-size: 14px;
	color: #925186;
}

.caption .font-sz {
	font-size: 11px;
	color: #666666;
	font-style: italic;
}

.caption .font-mid {
	font-size: 15px;
	color: #666666;
	vertical-align: middle;
}

.cp-bd {
	border: 1px solid #f0f0f0;
}

.border-left {
	border-left: 1px solid #f0f0f0;
	height: 74px;
	margin-top: -9px;
	margin-bottom: -21px;
	padding-left: 8px;
	padding-top: 24px;
}

.carousel-slider {
	position: relative;
}

.control-left {
	position: absolute;
	top: 136px;
	left: -24px;
}

.control-left i.fa {
	color: #925186;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	padding-left: 18px;
	padding-top: 7px;
}

.control-right {
	position: absolute;
	top: 136px;
	right: -24px;
}

.control-right i.fa {
	color: #925186;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	padding-left: 18px;
	padding-top: 7px;
}


/*================newest_article ends here=============*/


/*===================Parallax section starts here===========*/

#parallex_area {
	background-image: url(../img/home-Recovered.jpg);
	padding-bottom: 100px;
	background-position: 100% 100%;
	background-size: cover;
	color: #fff;
	padding-top: 30px;
}


/*===================Parallax section starts here===========*/


/*===================service section starts here===========*/

#service_section {
	padding-top: 30px;
	padding-bottom: 30px;
}

#service_section .service .service-content {
	border: 1px solid #f0f0f0;
	padding: 15px;
	transition: all 300ms ease-out;
}

#service_section .service:hover .service-content {
	border: 1px solid #f0f0f0;
	padding: 15px;
}

#service_section .service .service-content h4 {
	font-size: 14px;
	color: #666666;
}

#service_section .service .service-content p {
	font-size: 12px;
	color: #666666;
}

#service_section .service a {
	text-decoration: none;
	height: 100%;
}

#service_section .service .rocket i.fa {
	font-size: 50px;
	display: block;
	text-align: center;
	color: #925186;
	padding-bottom: 19px;
	padding-top: 24px;
	transition: all 300ms ease-out;
}

#service_section .service:hover .rocket i.fa {
	font-size: 50px;
	display: block;
	text-align: center;
	color: #fff;
	padding-bottom: 19px;
	padding-top: 24px;
}

.service .rocket {
	height: 100px;
	width: 261px;
	position: relative;
	transition: all 300ms ease-out;
}

.service:hover .rocket {
	height: 100px;
	width: 261px;
	background-color: #925186;
	position: relative;
}

.service .rocket::before {
	transition: all 300ms ease-out;
}

.service:hover .rocket:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 114px;
	width: 0;
	height: 0;
	border-top: 15px solid #925186;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
}


/*===================service section ends here===========*/


/*==================blog starts here====================*/

#bolg_area {
	padding: 30px;
}

.item-1-padding {
	padding: 10px 0;
}

.item-1-paddingaround {
	padding: 10px 15px 5px 15px;
	border: 1px solid #f0f0f0;
	margin-left: -9px;
	margin-top: 10px;
}

.item-1-paddingaround h4 {
	color: #925186;
	font-size: 16px;
}

.item-1-paddingaround p {
	color: #666666;
	font-size: 12px;
}

.carousel-slide {
	position: relative;
}

.left-move {
	position: absolute;
	top: 168px;
	left: -24px;
}

.left-move i.fa {
	color: #925186;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	padding-left: 18px;
	padding-top: 7px;
}

.right-move {
	position: absolute;
	top: 168px;
	right: -24px;
}

.right-move i.fa {
	color: #925186;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	padding-left: 18px;
	padding-top: 7px;
}


/*==================blog starts here====================*/


/*==================client_comment starts here==================== */

#client_comment {
	padding-bottom: 35px;
}

.bg-img {
	background-image: url(../img/home-Recovered.jpg);
	background-position: 100% 100%;
	background-size: cover;
	padding-bottom: 66px;
	padding-top: 21px;
	color: #fff;
	position: relative;
}

.move-left {
	position: absolute;
	top: 90px;
	left: 40px;
}

.move-left i.fa {
	font-size: 36px;
	color: #fff;
}

.move-right {
	position: absolute;
	top: 90px;
	right: 40px;
}

.move-right i.fa {
	font-size: 36px;
	color: #fff;
}


/*==================client_comment ends here==================== */


/*==================inspiretion_area starts here====================*/

#inspiretion_area {
	padding-bottom: 20px;
}

.inspirations {
	height: 315px;
	width: 515px;
	position: relative;
}

.inspirations::before {
	transition: all 300ms ease-out;
}

.inspirations:hover:before {
	content: "TAKE A CLOSER LOOK";
	position: absolute;
	top: 273px;
	left: 161px;
	color: #925186;
	background-color: #dfcbdb;
	height: 50px;
	width: 515px;
	margin-left: -161px;
	text-align: center;
	padding-top: 8px;
}

.move-l {
	position: absolute;
	top: 116px;
	left: -26px;
}

.move-l i.fa {
	color: #925186;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	padding-left: 18px;
	padding-top: 7px;
}

.move-r {
	position: absolute;
	top: 116px;
	right: 13px;
}

.move-r i.fa {
	color: #925186;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	padding-left: 18px;
	padding-top: 7px;
}


/*==================inspiretion_area starts here====================*/


/*==================dashboard_area starts here==================== */

.gold p:first-child {
	color: #925186;
	font-size: 12px;
}

.gold p span {
	color: #808080;
	font-size: 12px;
}

.gold {
	border: 1px solid #f0f0f0;
	margin-left: -31px;
	margin-bottom: 7px;
	padding: 7px 10px 5px 14px;
}

.border-1 {
	padding-bottom: 5px;
}

.img-heght {
	overflow: hidden;
}

.img-heght img {
	height: 70px;
	width: auto;
	max-width: inherit;
}

#dashboard {
	padding-bottom: 38px;
	border: 1px solid #f0f0f0;
}


/*==================dashboard_area ends here==================== */


/*==================foooter_area starts here==================== */


/*footer-top starts here*/

.blaszok h4,
.blog h4,
.Shop h4,
.Newsletter h4 {
	font-size: 14px;
	color: #666666;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
}

.blaszok h4::before {
	content: "";
	border: 1px solid #b163a3;
	position: absolute;
}

.blaszok p {
	padding-top: 20px;
	padding-bottom: 18px;
	color: #888888;
}

.blaszok .list_padding li a {
	padding: 0 8px;
	color: #888888;
	text-decoration: none;
	display: block;
}

.blaszok .list_padding li a:hover {
	padding: 0 8px;
	color: #925186;
	text-decoration: none;
	display: block;
}

.blaszok span {
	color: #925186;
}

.blog ul li {
	list-style-type: none;
}

.blog ul li a {
	text-decoration: none display:block;
}

.blog ul li:first-child {
	padding-top: 20px;
}

.blog ul li p:nth-child(3) {
	font-style: italic;
	font-size: 12px;
	color: #888888;
	padding-left: 36px;
}

.blog ul li {
	padding-bottom: 20px;
}

.blog ul li p:nth-child(2) {
	font-size: 12px;
	color: #888888;
}

.blog ul li p a {
	text-decoration: none;
	color: #925186;
	padding-right: 12px;
	display: inline-block;
	font-size: 15px;
}

.blog ul {
	margin-left: -48px;
}

.blog ul li p a i.fa {
	font-size: 10px;
}

.Shop ul li:first-child {
	padding-top: 20px;
}

.Shop ul {
	margin-left: -32px;
}

.Shop ul li {
	list-style-type: none;
	display: block;
}

.Shop ul li a {
	text-decoration: none;
	display: block;
	color: #888888;
	font-size: 12px;
	padding-bottom: 20px;
}

.Shop ul li a i.fa {
	display: inline-block;
	color: #925186;
	font-size: 10px;
	padding-right: 12px;
}

.Newsletter p {
	padding-top: 20px;
	padding-bottom: 18px;
	color: #888888;
}

.footer_top {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 20px;
}


/*footer-top ends here*/


/*footer-bottom starts here*/

.copyright p {
	font-size: 12px;
	color: #888888;
}

.back-to-top p a {
	text-decoration: none;
	color: #925186;
	font-size: 12px;
	padding-left: 172px;
}


/*footer-bottom ends here*/


/*==================foooter_area ends here==================== */


}

