

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 1200px;
}


/*header goes here*/

header {
	height: 85px;
	background-color: #FFFFFF;
}

#logo {
	float: left;
	padding-top: 30px;
}

#logo a {
	text-decoration: none;
}

nav {
	float: right;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
}

nav ul li a {
	display: block;
	text-decoration: none;
	padding: 30px 30px;
	font-weight: bold;
	font-size: 16px;
	color: #7C7C7C;
}

nav ul li a:hover {
	display: block;
	text-decoration: none;
	padding: 30px 30px;
	font-weight: bold;
	font-size: 16px;
	color: #F44336;
}


/*header end here*/


/*banner  goes here  */

#banner {
	background-image: url(../img/img1.jpg);
	padding-top: 226px;
	padding-bottom: 384px;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: #4D4D4D;
	background-position: center;
	position: relative;
	z-index: 1;
}

#banner::before {
	content: "";
	position: absolute;
	height: 822px;
	width: 1505px;
	left: 0;
	top: 0;
	background-color: #78909C;
	opacity: 0.5;
	z-index: -1;
}

#banner .heading {
	text-align: center;
}

#banner .heading h1 {
	font-size: 50px;
}

#banner .heading a {
	text-decoration: none;
	width: 207px;
	background-color: #4d4d4d;
	display: block;
	padding: 14px 0;
	border-radius: 24px;
	margin-top: 23px;
	color: #fff;
	font-weight: bold;
}

#banner .heading a:hover {
	text-decoration: none;
	width: 207px;
	background-color: #E91E63;
	display: block;
	padding: 14px 0;
	border-radius: 24px;
	margin-top: 23px;
	color: #000;
	font-weight: bold;
}


/*banner ends here*/


/*features goes here*/

.features {
	overflow: hidden;
	padding: 58px 0;
	border-bottom: 1px solid #666;
	color: #4D4D4D;
}

.features .col4 {
	width: 33.33%;
	float: left;
	padding: 0 26px;
	text-align: center;
}

.features .col4 h3 {
	padding-top: 5px;
	padding-bottom: 10px;
}


/*features ends here*/


/*video section goes here*/

.video_section {
	text-align: center;
	padding-top: 40px;
	position: relative;
	border-bottom: 1px solid #666;
	color: #4D4D4D;
}

.video_section h2 {
	font-size: 30px;
}

.video_section_content .video_play {
	margin-top: 32px;
	margin-bottom: 47px;
}

.video_section_content .fa {
	font-size: 70px;
	position: absolute;
	top: 195px;
	left: 406px;
	color: #fff;
}

.video_play {
	background-image: url(../img/video.jpg);
	width: 820px;
	height: 457px;
	background-size: 100% 100%;
	position: relative;
	z-index: 1;
}

.video_play::before {
	content: "";
	position: absolute;
	height: 457px;
	width: 820px;
	left: 0;
	top: 0;
	background-color: #C253AC;
	opacity: 0.5;
	z-index: -1
}


/*video ends here*/


/*recent work goes here*/

.recent_work {
	text-align: center;
	overflow: hidden;
	color: #4D4D4D;
}

.recent_work .row .col3 {
	width: 25%;
	padding: 70px 5px;
	float: left;
	position: relative;
}

.recent_work h2 {
	padding-top: 26px;
}


/*subscribe goes here*/

.subscribers {
	text-align: center;
	background-color: #f5f5f5;
	padding: 50px 0;
	color: #4D4D4D;
}

.subscribers h3 {
	font-size: 30px;
}

.subscribers a {
	text-decoration: none;
	width: 207px;
	display: block;
	padding: 12px 0;
	border-radius: 24px;
	margin-top: 23px;
	color: #000;
	border: 1px solid #000;
	margin-top: 41px;
}

.subscribers a:hover {
	text-decoration: none;
	width: 207px;
	background-color: #E91E63;
	display: block;
	padding: 12px 0;
	border-radius: 24px;
	margin-top: 41px;
	color: #000;
	font-weight: bold;
}


/*subscribers ends here*/


/*social media*/

#social_media {
	text-align: center;
	padding: 70px;
}

#social_media .fa {
	font-size: 28px;
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 1px solid #000;
	margin: 5px;
	padding-top: 9px;
}

#social_media .fa:hover {
	font-size: 28px;
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 1px solid #000;
	margin: 5px;
	padding-top: 9px;
	background-color: #575757;
	color: #fff;
}


/*social media ends here*/


/*footer goes here*/

footer {
	text-align: center;
	background-color: #3b3b3b;
	color: #fff;
	overflow: hidden;
	padding: 46px 0;
}

footer .col3 {
	float: left;
	width: 25%;
	text-align: left;
}

footer .col3 ul li {
	list-style-type: none;
	padding: 5px;
}

footer .col3 p {
	font-weight: bold;
	padding-bottom: 10px;
}

footer .col3 a {
	color: #fff;
}


/*footer ends here*/

